
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */